<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/titanrover.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Titan Rover </h3>
    <ul>
      Titan Rover is a collaboration of multi-disciplinary students who gather together to research, design, manufacture, and test a Mars Exploration Rover (MER) on behalf of California State University, Fullerton at the University Rover Challenge (URC). Our mission is to develop skills that are applicable in the professional work force and to nurture our members combined passions for space, science, engineering and discovery. Every member is personally motivated to to create a competitive rover utilizing every resource we have.
    </ul>
    <a class="project-link" href="https://titanrover.com/">Check it out</a>
    <br><br><br><br>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/floatingdice.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Floating Dice </h3>
    <ul>
    </ul>
    <li> Designed a floating dice assembly on Solidworks and created a drawing with datums
      and tolerances expected in manufacturing </li>
      <li>Hand wrote G-code for machine pathing to create a dice: facing, bores, chamfers, and
      dimples</li>
      <li> Applied the correct procedures to machine a floating dice that follows drawing and
      tolerances</li>
      <li> Inspected the dice to ensure that it is up to spec and within tolerance for all features
      and note it on an inspection sheet</li>
      <li> Retrieved a quote from a manufacturing company for the cost of one die and a hundred dice. </li>
    <a class="project-link" href="https://grabcad.com/">Check it out</a>
    <br><br><br><br>
  </div>
</div>
<div class="user-education">
  <h1> Education </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/csuf.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> California State University, Fullerton, CA Graduated Spring 2018</h3>
    <h4>Bachelor of Science, Mechanical Engineering, 3.10 GPA </h4>
    <ul>
      <li>AutoCAD
      <li>Solidworks
        <li>MATLAB
          <li>Simulink
            <li>CATIA V5
              <li>Proficient with Windows &
                <li>Microsoft Office Suite
                  <li>Basic understanding of operating a CNC Mill
                    <li>Experience with preimpregnated carbon fiber layup process
                      <li>Familiar with Geometric dimensioning and tolerancing(GD&T)</li>
    </ul>
    <a class="project-link" href="https://Fullerton.edu/">Check it out</a>
  </div>
</div>